@{
    ViewData["Title"] = "Controlador de estoque";
}

<div class="text-center">
    <h1 class="display-4">Controlar de estoque</h1>
    <p>Criado por Allan Schroer<br/>Para mais informações: <a href="https://github.com/allanschroer">GitHub</a> | <a href ="https://www.linkedin.com/in/allan-schroer-b8b265171/">Linkedin</a>.</p>
</div>
