@{
    ViewData["Title"] = "Controlador de estoque";
}

<div class="text-center">
    <h1 class="display-4">Controlar de estoque</h1>
    
</div>
<div id="donutchart" style="width: 600px; height: 300px;"></div>
